body{
    background-color: lightblue;
}

#word-length-calculator{
    width: 500px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    text-align: center;
}

input{
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
}

p{
    font-size: 16px;
}

.words{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}